<header>
  <h2><a href="/"> Project Alpha</a></h2>
  <nav>
    <% if(user){ %>
    <a href="/create-post"> create</a>
    <a href="/logout"> logout</a>
    <%} else{ %>
    <a href="/login"> login</a>
    <% } %>
  </nav>
</header>
